=title 'Basket'

%p
	This your shopping basket. Every time you had an item, it will appear here. If you add the same item
	more than once, it's quantity will increase.
%scss
	The total displayed is the final amount you will pay.

%table
	%tr
		%th
			Item
		%th
			Price
		%th
			Quantity
		%th
			Sub-Total
	-for li in @basket.line_items
		%tr
			%td
				=li.item.name
			%td
				=ntc li.item.price
			%td.quantity_form
				=form_for li, :remote => true do |f|
					.field
						= f.select :quantity, 0..9 if li.item.stock > 9
						= f.select :quantity, 0..li.item.stock if li.item.stock < 9
			%td.item_subtotal
				=ntc li.quantity * li.item.price
	%tr
		%td{:colspan => 2}
		%td.b
			Subtotal
		%td#basket_subtotal
			=ntc @basket.subtotal
	%tr
		%td{:colspan => 2}
		%td.b
			Postage
		%td#basket_postage
			=ntc @basket.postage
	%tr
		%td{:colspan => 2}
		%td.b
			Total
		%td#basket_total
			=ntc @basket.subtotal + @basket.postage