/*.rbc
/*.sassc
/public/stylesheets/.sass-cache/**
/capybara-*.html
/.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
/**.orig
/rerun.txt
/public/items
/webrat.log
/.gems
Capfile