/* line 14, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/** LAYOUT **/
/* line 6, ../../../app/stylesheets/screen.scss */
html, body {
  height: 100%;
}

/* line 10, ../../../app/stylesheets/screen.scss */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px;
}

/* line 17, ../../../app/stylesheets/screen.scss */
.ninesixty {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 23, ../../../app/stylesheets/screen.scss */
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6,
.grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 29, ../../../app/stylesheets/screen.scss */
.grid_1 {
  width: 60px;
}

/* line 30, ../../../app/stylesheets/screen.scss */
.grid_2 {
  width: 140px;
}

/* line 31, ../../../app/stylesheets/screen.scss */
.grid_3 {
  width: 220px;
}

/* line 32, ../../../app/stylesheets/screen.scss */
.grid_4 {
  width: 300px;
}

/* line 33, ../../../app/stylesheets/screen.scss */
.grid_5 {
  width: 380px;
}

/* line 34, ../../../app/stylesheets/screen.scss */
.grid_6 {
  width: 460px;
}

/* line 35, ../../../app/stylesheets/screen.scss */
.grid_7 {
  width: 540px;
}

/* line 36, ../../../app/stylesheets/screen.scss */
.grid_8 {
  width: 620px;
}

/* line 37, ../../../app/stylesheets/screen.scss */
.grid_9 {
  width: 700px;
}

/* line 38, ../../../app/stylesheets/screen.scss */
.grid_10 {
  width: 780px;
}

/* line 39, ../../../app/stylesheets/screen.scss */
.grid_11 {
  width: 860px;
}

/* line 40, ../../../app/stylesheets/screen.scss */
.grid_12 {
  width: 940px;
}

/* line 43, ../../../app/stylesheets/screen.scss */
.media, .media .body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
/* line 48, ../../../app/stylesheets/screen.scss */
.media .meta {
  float: left;
  margin-right: 20px;
}
/* line 51, ../../../app/stylesheets/screen.scss */
.media .meta img {
  display: block;
}

/** TYPOGRAPHY **/
@font-face {
  font-family: 'Uni Sans';
  src: url("../fonts/uni-sans-book-webfont.eot");
  src: url("../fonts/uni-sans-book-webfont.eot?#iefix") format("eot"), url("../fonts/uni-sans-book-webfont.woff") format("woff"), url("../fonts/uni-sans-book-webfont.ttf") format("truetype"), url("../fonts/uni-sans-book-webfont.svg#webfontIhRQ8bBH") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 68, ../../../app/stylesheets/screen.scss */
body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-text-stroke: 1px transparent;
  -webkit-font-smoothing: antialiased;
}

/* line 76, ../../../app/stylesheets/screen.scss */
h1, h2 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "Uni Sans", "Helvetica Neue", Helvetica, Ariel, sans-serif;
}

/* line 81, ../../../app/stylesheets/screen.scss */
h2 {
  margin: 0 0 15px 0;
  font-size: 28px;
}

/* line 85, ../../../app/stylesheets/screen.scss */
h3 {
  margin: 0 0 10px 0;
  color: #222;
  font-size: 16px;
}

/* line 90, ../../../app/stylesheets/screen.scss */
p, span, a {
  line-height: 1.2em;
}

/* line 93, ../../../app/stylesheets/screen.scss */
p {
  margin: 15px 0;
}

/* line 96, ../../../app/stylesheets/screen.scss */
em {
  font-style: italic;
}

/* line 99, ../../../app/stylesheets/screen.scss */
strong {
  font-weight: bold;
}

/* line 102, ../../../app/stylesheets/screen.scss */
a {
  color: #b03231;
  text-decoration: none;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
/* line 106, ../../../app/stylesheets/screen.scss */
a:hover {
  color: #601b1b;
}

/* line 110, ../../../app/stylesheets/screen.scss */
.small {
  font-size: 10px;
}

/** END TYPOGRAPHY **/
/* line 114, ../../../app/stylesheets/screen.scss */
ul {
  margin: 10px 0;
}

/* line 117, ../../../app/stylesheets/screen.scss */
ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 5px 0;
}

/* line 122, ../../../app/stylesheets/screen.scss */
pre {
  margin: 10px 0;
  padding: 10px;
  background: #eee;
  border: 1px solid #bbb;
  font-family: Monaco, ProFont, 'Bitstream Vera Sans Mono', 'American Typewriter', 'Andale Mono', monospace;
  font-size: 12px;
}

/* line 130, ../../../app/stylesheets/screen.scss */
blockquote {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #bbb;
}

/** END LAYOUT **/
/* line 137, ../../../app/stylesheets/screen.scss */
header, footer {
  background: url("../../images/black-noise.gif") repeat;
  color: #fff;
}

/** HEADER **/
/* line 143, ../../../app/stylesheets/screen.scss */
header {
  padding: 20px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -2px 3px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -2px 3px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -2px 3px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -2px 3px 0 inset;
}
/* line 146, ../../../app/stylesheets/screen.scss */
header h1 {
  float: left;
  margin: 0;
  font-size: 56px;
}
/* line 150, ../../../app/stylesheets/screen.scss */
header h1 a {
  color: #fff;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 153, ../../../app/stylesheets/screen.scss */
header h1 a:hover {
  color: #fff;
  opacity: 0.8;
}

/** SITE NAVIGATION **/
/* line 162, ../../../app/stylesheets/screen.scss */
nav {
  float: right;
}
/* line 164, ../../../app/stylesheets/screen.scss */
nav ul {
  margin: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 168, ../../../app/stylesheets/screen.scss */
nav li {
  float: left;
  margin: 25px 7px;
  list-style-type: none;
}
/* line 172, ../../../app/stylesheets/screen.scss */
nav li:last-child {
  margin: 25px 0 25px 7px;
}
/* line 176, ../../../app/stylesheets/screen.scss */
nav a {
  padding: 3px 9px 4px 9px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.7) 0 1px 2px;
}
/* line 182, ../../../app/stylesheets/screen.scss */
nav a:hover {
  color: #fff;
  text-decoration: underline;
}
/* line 186, ../../../app/stylesheets/screen.scss */
nav a.current {
  border: 1px solid #1c1c1c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #282a31), color-stop(100%, #1f2026));
  background-image: -moz-linear-gradient(top, #282a31 0%, #1f2026 100%);
  background-image: linear-gradient(top, #282a31 0%, #1f2026 100%);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(255, 255, 255, 0.05) 1px 1px 1px 0 inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.05) 1px 1px 1px 0 inset;
  -o-box-shadow: rgba(255, 255, 255, 0.05) 1px 1px 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.05) 1px 1px 1px 0 inset;
}

/** END SITE NAVIGATION **/
/** END HEADER **/
/** CONTENT **/
/* line 198, ../../../app/stylesheets/screen.scss */
.content {
  padding: 20px 0;
}
/* line 200, ../../../app/stylesheets/screen.scss */
.content h1 {
  font-size: 48px;
}

/* line 204, ../../../app/stylesheets/screen.scss */
.main {
  padding: 0 10px 0 0;
  overflow: visible;
  border-right: 1px dashed #eee;
}

/* line 209, ../../../app/stylesheets/screen.scss */
.item-image {
  margin: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 215, ../../../app/stylesheets/screen.scss */
.item-image:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px 0;
}

/** HOME CONTAINER **/
/* line 221, ../../../app/stylesheets/screen.scss */
.home-container {
  overflow: hidden;
  *zoom: 1;
}
/* line 223, ../../../app/stylesheets/screen.scss */
.home-container > div {
  float: left;
  margin: 10px;
  padding: 10px 10px;
  border: 1px solid #eee;
  text-align: center;
}
/* line 229, ../../../app/stylesheets/screen.scss */
.home-container > div img {
  margin: 0 20px;
  padding: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 234, ../../../app/stylesheets/screen.scss */
.home-container > div img:hover {
  background: #f5f5f5;
}
/* line 238, ../../../app/stylesheets/screen.scss */
.home-container > div p {
  text-align: center;
}

/** HOME CONTAINER **/
/** CATEGORY TAGS **/
/* line 247, ../../../app/stylesheets/screen.scss */
.categories h3 a {
  color: #222;
}
/* line 250, ../../../app/stylesheets/screen.scss */
.categories ul {
  padding: 10px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 254, ../../../app/stylesheets/screen.scss */
.categories li {
  float: left;
  margin: 0 5px;
  list-style-type: none;
}
/* line 258, ../../../app/stylesheets/screen.scss */
.categories li:first-child {
  margin: 0 5px 0 0;
}
/* line 261, ../../../app/stylesheets/screen.scss */
.categories li a {
  padding: 6px 9px;
  border: 1px solid #dea23c;
  font-size: 12px;
  font-weight: bold;
  color: #604020;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #feda71), color-stop(100%, #febc4a));
  background-image: -moz-linear-gradient(top, #feda71 0%, #febc4a 100%);
  background-image: linear-gradient(top, #feda71 0%, #febc4a 100%);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: rgba(145, 145, 145, 0.13) 0 1px 1px 0;
  -webkit-box-shadow: rgba(145, 145, 145, 0.13) 0 1px 1px 0;
  -o-box-shadow: rgba(145, 145, 145, 0.13) 0 1px 1px 0;
  box-shadow: rgba(145, 145, 145, 0.13) 0 1px 1px 0;
}

/** END CATEGORY TAGS **/
/** ITEM META **/
/* line 277, ../../../app/stylesheets/screen.scss */
.item-meta {
  margin: 10px 0;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  *zoom: 1;
}

/* line 284, ../../../app/stylesheets/screen.scss */
.item-meta .price {
  float: right;
}

/** END ITEM META **/
/* line 288, ../../../app/stylesheets/screen.scss */
.add-to-basket {
  float: right;
}
/* line 290, ../../../app/stylesheets/screen.scss */
.add-to-basket input {
  float: right;
}

/** END CONTENT **/
/** FLASH MESSAGES **/
/* line 297, ../../../app/stylesheets/screen.scss */
#notice, #error, #alert {
  margin: 0 0 20px 0;
  padding: 7px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 303, ../../../app/stylesheets/screen.scss */
#notice p, #error p, #alert p {
  margin: 0;
}

/* line 306, ../../../app/stylesheets/screen.scss */
#notice {
  background: #e5fee2;
  border: 1px solid #9fd690;
}

/* line 310, ../../../app/stylesheets/screen.scss */
#error {
  background: #fee5e2;
  border: 1px solid #d69090;
}

/* line 314, ../../../app/stylesheets/screen.scss */
#alert {
  background: #fefbe2;
  border: 1px solid #e4d45d;
}

/** END FLASH MESSAGES **/
/** SHOPPING BASKET **/
/* line 321, ../../../app/stylesheets/screen.scss */
#shopping-basket {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #a53b3b;
}
/* line 325, ../../../app/stylesheets/screen.scss */
#shopping-basket h2 {
  position: relative;
  z-index: 0;
  padding: 9px 15px 11px 15px;
  margin: 0;
  border-bottom: 1px solid #802525;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: rgba(193, 208, 219, 0.5) 0 2px 3px 0;
  -webkit-box-shadow: rgba(193, 208, 219, 0.5) 0 2px 3px 0;
  -o-box-shadow: rgba(193, 208, 219, 0.5) 0 2px 3px 0;
  box-shadow: rgba(193, 208, 219, 0.5) 0 2px 3px 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f6654d), color-stop(100%, #b03231));
  background-image: -moz-linear-gradient(top, #f6654d 0%, #b03231 100%);
  background-image: linear-gradient(top, #f6654d 0%, #b03231 100%);
}
/* line 337, ../../../app/stylesheets/screen.scss */
#shopping-basket h2:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #fa8859;
}
/* line 347, ../../../app/stylesheets/screen.scss */
#shopping-basket h2 a {
  color: #510a0a;
}
/* line 349, ../../../app/stylesheets/screen.scss */
#shopping-basket h2 a:hover {
  color: #400807;
}
/* line 355, ../../../app/stylesheets/screen.scss */
#shopping-basket ul {
  margin: 0;
}
/* line 358, ../../../app/stylesheets/screen.scss */
#shopping-basket li {
  margin: 0;
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #eee;
  list-style-type: none;
  font-size: 13px;
}
/* line 364, ../../../app/stylesheets/screen.scss */
#shopping-basket li.total {
  border: 1px solid #fff;
  background: url("../../images/dots.gif") repeat;
  text-align: right;
}
/* line 369, ../../../app/stylesheets/screen.scss */
#shopping-basket li:last-child {
  border-bottom: none;
}
/* line 372, ../../../app/stylesheets/screen.scss */
#shopping-basket li img {
  float: right;
  padding: 1px;
  border: 1px solid #c4b0b0;
}
/* line 377, ../../../app/stylesheets/screen.scss */
#shopping-basket li a {
  color: #813a3a;
}
/* line 379, ../../../app/stylesheets/screen.scss */
#shopping-basket li a:hover {
  border-bottom: 1px solid #c4b0b0;
}
/* line 383, ../../../app/stylesheets/screen.scss */
#shopping-basket li span {
  color: #c4b0b0;
}

/** END SHOPPINGB BASKET **/
/** FORMS **/
/* line 391, ../../../app/stylesheets/screen.scss */
form {
  margin: 20px 0;
}
/* line 393, ../../../app/stylesheets/screen.scss */
form label, form input[type=button], form input[type=submit], form button {
  cursor: pointer;
}
/* line 396, ../../../app/stylesheets/screen.scss */
form label {
  float: left;
  width: 100px;
  padding: 8px 10px 0 0;
  font-size: 14px;
  text-align: right;
  display: block;
}
/* line 404, ../../../app/stylesheets/screen.scss */
form label.req, form .field_with_errors label {
  font-weight: bold;
}
/* line 407, ../../../app/stylesheets/screen.scss */
form .field_with_errors label {
  color: #f44;
}
/* line 410, ../../../app/stylesheets/screen.scss */
form .field {
  margin: 5px 0;
}
/* line 413, ../../../app/stylesheets/screen.scss */
form .field.twocol .meta {
  margin-right: 0;
}
/* line 416, ../../../app/stylesheets/screen.scss */
form .field.twocol .field label {
  width: 75px;
}
/* line 421, ../../../app/stylesheets/screen.scss */
form input, form textarea {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px 0;
}
/* line 424, ../../../app/stylesheets/screen.scss */
form input:hover, form textarea:hover {
  border: 1px solid #aaa;
}
/* line 427, ../../../app/stylesheets/screen.scss */
form input:focus, form textarea:focus {
  border: 1px solid #888;
}
/* line 431, ../../../app/stylesheets/screen.scss */
form input[type=file]:hover {
  border: none;
}
/* line 434, ../../../app/stylesheets/screen.scss */
form input[type=text], form input[type=password], form textarea {
  padding: 5px;
  border: 1px solid #d1d1d1;
  background: #f9f9f9;
  font-size: 12px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 440, ../../../app/stylesheets/screen.scss */
form input[type=text]:hover, form input[type=password]:hover, form textarea:hover {
  border: 1px solid #bbb;
}
/* line 443, ../../../app/stylesheets/screen.scss */
form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
  outline: none;
  -moz-box-shadow: #fbac86 0 0 1px 0;
  -webkit-box-shadow: #fbac86 0 0 1px 0;
  -o-box-shadow: #fbac86 0 0 1px 0;
  box-shadow: #fbac86 0 0 1px 0;
  border: 1px solid #fbac86;
}
/* line 450, ../../../app/stylesheets/screen.scss */
form input[type=text], form input[type=password] {
  width: 200px;
}
/* line 453, ../../../app/stylesheets/screen.scss */
form textarea {
  width: 430px;
  height: 180px;
}
/* line 457, ../../../app/stylesheets/screen.scss */
form input[type=checkbox], form input[type=radio], form select {
  margin: 8px 0;
}
/* line 460, ../../../app/stylesheets/screen.scss */
form input[type=submit] {
  border: 1px solid #d1d1d1;
  padding: 4px 20px;
  color: #555960;
  background: #e9e9e9;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
  background-image: linear-gradient(top, #ffffff 0%, #eaeaea 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  text-shadow: 0 1px 1px #fff;
}
/* line 468, ../../../app/stylesheets/screen.scss */
form input[type=submit]:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px 0;
}
/* line 471, ../../../app/stylesheets/screen.scss */
form input[type=submit]:active {
  background: #d5d5d5;
  border: 1px solid #888;
}
/* line 475, ../../../app/stylesheets/screen.scss */
form input[type=submit][disabled="disabled"] {
  color: #999;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  cursor: default;
}
/* line 479, ../../../app/stylesheets/screen.scss */
form input[type=submit][disabled="disabled"]:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
}
/* line 482, ../../../app/stylesheets/screen.scss */
form input[type=submit][disabled="disabled"]:active {
  background: #e9e9e9;
  border: 1px solid #d1d1d1;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
  background-image: linear-gradient(top, #ffffff 0%, #eaeaea 100%);
}
/* line 489, ../../../app/stylesheets/screen.scss */
form.admin input[type=submit] {
  margin: 5px 0 0 110px;
}

/** FORM ERRORS **/
/* line 495, ../../../app/stylesheets/screen.scss */
#error_explanation {
  padding: 10px;
  margin: 10px 20px;
}

/* line 499, ../../../app/stylesheets/screen.scss */
#error_explanation h2 {
  font-size: 14px;
}

/* line 502, ../../../app/stylesheets/screen.scss */
#error_explanation h2, #error_explanation h3 {
  margin: 0;
}

/** END FORM ERRORS **/
/** END FORMS **/
/** TABLES **/
/* line 509, ../../../app/stylesheets/screen.scss */
.main table {
  width: 100%;
  margin: 10px 0;
  text-align: center;
  border: 1px solid #ad3e3e;
}
/* line 514, ../../../app/stylesheets/screen.scss */
.main table th {
  padding: 7px 0;
  background: #bd4747;
  border-bottom: 1px solid #ad3e3e;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
/* line 522, ../../../app/stylesheets/screen.scss */
.main table td {
  padding: 5px 0;
  background-color: transparent;
  text-align: center;
}
/* line 526, ../../../app/stylesheets/screen.scss */
.main table td.b {
  font-weight: bold;
}
/* line 530, ../../../app/stylesheets/screen.scss */
.main table td span.quantity {
  border-bottom: 1px dotted #444;
  cursor: pointer;
}
/* line 534, ../../../app/stylesheets/screen.scss */
.main table td form {
  margin: 0;
}
/* line 536, ../../../app/stylesheets/screen.scss */
.main table td form .field {
  margin: 0;
}
/* line 539, ../../../app/stylesheets/screen.scss */
.main table td form select {
  margin: 0;
}
/* line 544, ../../../app/stylesheets/screen.scss */
.main table tr {
  background: #fafafa;
  border-bottom: 1px solid #e8f0f5;
  border-left: 1px solid #a3b6c5;
  border-right: 1px solid #a3b6c5;
}
/* line 549, ../../../app/stylesheets/screen.scss */
.main table tr:nth-child(2n+1) {
  background: #f4f4f4;
}
/* line 552, ../../../app/stylesheets/screen.scss */
.main table tr:last-child {
  border-bottom: 1px solid #a3b6c5;
}

/** END TABLES **/
/** FOOTER **/
/** STICKY FOOTER**/
/* line 561, ../../../app/stylesheets/screen.scss */
.push {
  height: 50px;
}

/** END STICKY FOOTER**/
/* line 565, ../../../app/stylesheets/screen.scss */
footer {
  height: 32px;
  padding: 18px 0 0 0;
  font-size: 13px;
  color: #999;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px 0 inset;
}
/* line 572, ../../../app/stylesheets/screen.scss */
footer .right {
  float: right;
}
/* line 575, ../../../app/stylesheets/screen.scss */
footer a {
  color: #999;
}
/* line 577, ../../../app/stylesheets/screen.scss */
footer a:hover {
  color: #d04c49;
}

/** END FOOTER **/
