/* line 14, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 5, ../../../app/stylesheets/screen.scss */
body {
  -webkit-text-stroke: 1px transparent;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* line 12, ../../../app/stylesheets/screen.scss */
html, body {
  height: 100%;
}

/* line 16, ../../../app/stylesheets/screen.scss */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px;
}

/* line 23, ../../../app/stylesheets/screen.scss */
.ninesixty {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 29, ../../../app/stylesheets/screen.scss */
header, footer {
  background: url("../../images/black-noise.gif") repeat;
  color: #fff;
}

/* line 34, ../../../app/stylesheets/screen.scss */
header {
  padding: 20px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -2px 3px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -2px 3px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -2px 3px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -2px 3px 0 inset;
  overflow: hidden;
  *zoom: 1;
}
/* line 38, ../../../app/stylesheets/screen.scss */
header h1 {
  float: left;
  font-family: 'Uni Sans Book';
  font-size: 56px;
}

/* line 45, ../../../app/stylesheets/screen.scss */
nav {
  float: right;
}
/* line 47, ../../../app/stylesheets/screen.scss */
nav li {
  float: left;
  margin: 20px 7px;
}
/* line 51, ../../../app/stylesheets/screen.scss */
nav a {
  padding: 3px 9px 4px 9px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.7) 0 1px 2px;
}
/* line 4, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
nav a:hover {
  text-decoration: underline;
}
/* line 58, ../../../app/stylesheets/screen.scss */
nav a.current {
  border: 1px solid #1c1c1c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #282a31), color-stop(100%, #1f2026));
  background-image: -moz-linear-gradient(top, #282a31 0%, #1f2026 100%);
  background-image: linear-gradient(top, #282a31 0%, #1f2026 100%);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(255, 255, 255, 0.05) 1px 1px 1px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.05) 1px 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.05) 1px 1px 1px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.05) 1px 1px 1px 0px inset;
}

/* line 68, ../../../app/stylesheets/screen.scss */
.content h1 {
  font-family: 'Uni Sans Book';
  font-size: 48px;
}

/* line 74, ../../../app/stylesheets/screen.scss */
.push {
  height: 50px;
}

/* line 77, ../../../app/stylesheets/screen.scss */
footer {
  height: 30px;
  padding: 20px 0 0 0;
  font-size: 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px 0 inset;
}
