/* line 14, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/** LAYOUT **/
/* line 6, ../../../app/stylesheets/screen.scss */
html, body {
  height: 100%;
}

/* line 10, ../../../app/stylesheets/screen.scss */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px;
}

/* line 17, ../../../app/stylesheets/screen.scss */
.ninesixty {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 23, ../../../app/stylesheets/screen.scss */
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6,
.grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 29, ../../../app/stylesheets/screen.scss */
.grid_1 {
  width: 60px;
}

/* line 30, ../../../app/stylesheets/screen.scss */
.grid_2 {
  width: 140px;
}

/* line 31, ../../../app/stylesheets/screen.scss */
.grid_3 {
  width: 220px;
}

/* line 32, ../../../app/stylesheets/screen.scss */
.grid_4 {
  width: 300px;
}

/* line 33, ../../../app/stylesheets/screen.scss */
.grid_5 {
  width: 380px;
}

/* line 34, ../../../app/stylesheets/screen.scss */
.grid_6 {
  width: 460px;
}

/* line 35, ../../../app/stylesheets/screen.scss */
.grid_7 {
  width: 540px;
}

/* line 36, ../../../app/stylesheets/screen.scss */
.grid_8 {
  width: 620px;
}

/* line 37, ../../../app/stylesheets/screen.scss */
.grid_9 {
  width: 700px;
}

/* line 38, ../../../app/stylesheets/screen.scss */
.grid_10 {
  width: 780px;
}

/* line 39, ../../../app/stylesheets/screen.scss */
.grid_11 {
  width: 860px;
}

/* line 40, ../../../app/stylesheets/screen.scss */
.grid_12 {
  width: 940px;
}

/* line 43, ../../../app/stylesheets/screen.scss */
.media, .media .body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
/* line 48, ../../../app/stylesheets/screen.scss */
.media .meta {
  float: left;
  margin-right: 20px;
}
/* line 51, ../../../app/stylesheets/screen.scss */
.media .meta img {
  display: block;
}

/** TYPOGRAPHY **/
/* line 58, ../../../app/stylesheets/screen.scss */
body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-text-stroke: 1px transparent;
  -webkit-font-smoothing: antialiased;
}

/* line 66, ../../../app/stylesheets/screen.scss */
h1 {
  margin: 0 0 20px 0;
  font-family: "Uni Sans Book", "Helvetica Neue", Helvetica, Ariel, sans-serif;
}

/* line 70, ../../../app/stylesheets/screen.scss */
p {
  margin: 0 0 20px 0;
}

/* line 73, ../../../app/stylesheets/screen.scss */
a {
  color: #b03231;
  text-decoration: none;
}
/* line 4, ../../../.gems/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/** END TYPOGRAPHY **/
/** END LAYOUT **/
/* line 80, ../../../app/stylesheets/screen.scss */
header, footer {
  background: url("../../images/black-noise.gif") repeat;
  color: #fff;
}

/** HEADER **/
/* line 86, ../../../app/stylesheets/screen.scss */
header {
  padding: 20px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -2px 3px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -2px 3px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -2px 3px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -2px 3px 0 inset;
}
/* line 89, ../../../app/stylesheets/screen.scss */
header h1 {
  float: left;
  margin: 0;
  font-size: 56px;
}
/* line 93, ../../../app/stylesheets/screen.scss */
header h1 a {
  color: #fff;
}

/** SITE NAVIGATION **/
/* line 100, ../../../app/stylesheets/screen.scss */
nav {
  float: right;
}
/* line 102, ../../../app/stylesheets/screen.scss */
nav li {
  float: left;
  margin: 20px 7px;
}
/* line 106, ../../../app/stylesheets/screen.scss */
nav a {
  padding: 3px 9px 4px 9px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.7) 0 1px 2px;
}
/* line 112, ../../../app/stylesheets/screen.scss */
nav a.current {
  border: 1px solid #1c1c1c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #282a31), color-stop(100%, #1f2026));
  background-image: -moz-linear-gradient(top, #282a31 0%, #1f2026 100%);
  background-image: linear-gradient(top, #282a31 0%, #1f2026 100%);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(255, 255, 255, 0.05) 1px 1px 1px 0 inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.05) 1px 1px 1px 0 inset;
  -o-box-shadow: rgba(255, 255, 255, 0.05) 1px 1px 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.05) 1px 1px 1px 0 inset;
}

/** END SITE NAVIGATION **/
/** END HEADER **/
/** CONTENT **/
/* line 124, ../../../app/stylesheets/screen.scss */
.content {
  padding: 20px 0;
}
/* line 126, ../../../app/stylesheets/screen.scss */
.content h1 {
  font-family: 'Uni Sans Book';
  font-size: 48px;
}

/* line 131, ../../../app/stylesheets/screen.scss */
.item-image {
  margin: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0;
}

/** END CONTENT **/
/** FLASH MESSAGES **/
/* line 140, ../../../app/stylesheets/screen.scss */
#notice, #error, #alert {
  margin: 0 0 10px 0;
  padding: 7px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 146, ../../../app/stylesheets/screen.scss */
#notice p, #error p, #alert p {
  margin: 0;
}

/* line 149, ../../../app/stylesheets/screen.scss */
#notice {
  background: #e5fee2;
  border: 1px solid #9fd690;
}

/* line 153, ../../../app/stylesheets/screen.scss */
#error {
  background: #fee5e2;
  border: 1px solid #d69090;
}

/* line 157, ../../../app/stylesheets/screen.scss */
#alert {
  background: #fefbe2;
  border: 1px solid #e4d45d;
}

/** END FLASH MESSAGES **/
/** SHOPPING BASKET **/
/* line 164, ../../../app/stylesheets/screen.scss */
#shopping-basket {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #a53b3b;
}
/* line 168, ../../../app/stylesheets/screen.scss */
#shopping-basket h2 {
  position: relative;
  z-index: 0;
  padding: 9px 15px 11px 15px;
  border-bottom: 1px solid #802525;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: rgba(193, 208, 219, 0.5) 0 2px 3px 0;
  -webkit-box-shadow: rgba(193, 208, 219, 0.5) 0 2px 3px 0;
  -o-box-shadow: rgba(193, 208, 219, 0.5) 0 2px 3px 0;
  box-shadow: rgba(193, 208, 219, 0.5) 0 2px 3px 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f6654d), color-stop(100%, #b03231));
  background-image: -moz-linear-gradient(top, #f6654d 0%, #b03231 100%);
  background-image: linear-gradient(top, #f6654d 0%, #b03231 100%);
}
/* line 178, ../../../app/stylesheets/screen.scss */
#shopping-basket h2:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #fa8859;
}
/* line 188, ../../../app/stylesheets/screen.scss */
#shopping-basket h2 a {
  color: #510a0a;
}
/* line 190, ../../../app/stylesheets/screen.scss */
#shopping-basket h2 a:hover {
  color: #400807;
}
/* line 196, ../../../app/stylesheets/screen.scss */
#shopping-basket ul {
  margin: 0;
}
/* line 199, ../../../app/stylesheets/screen.scss */
#shopping-basket li {
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #eee;
  list-style-type: none;
  font-size: 13px;
}
/* line 204, ../../../app/stylesheets/screen.scss */
#shopping-basket li.total {
  text-align: right;
}
/* line 207, ../../../app/stylesheets/screen.scss */
#shopping-basket li:last-child {
  border-bottom: none;
}
/* line 210, ../../../app/stylesheets/screen.scss */
#shopping-basket li img {
  float: right;
  padding: 1px;
  border: 1px solid #c4b0b0;
}
/* line 215, ../../../app/stylesheets/screen.scss */
#shopping-basket li a {
  color: #813a3a;
}
/* line 217, ../../../app/stylesheets/screen.scss */
#shopping-basket li a:hover {
  border-bottom: 1px solid #c4b0b0;
}
/* line 221, ../../../app/stylesheets/screen.scss */
#shopping-basket li span {
  color: #c4b0b0;
}

/** END SHOPPINGB BASKET **/
/** FORMS **/
/* line 229, ../../../app/stylesheets/screen.scss */
form {
  margin: 20px 0;
}
/* line 231, ../../../app/stylesheets/screen.scss */
form label, form input[type=button], form input[type=submit], form button {
  cursor: pointer;
}
/* line 234, ../../../app/stylesheets/screen.scss */
form label {
  float: left;
  width: 100px;
  padding: 8px 10px 0 0;
  font-size: 14px;
  text-align: right;
  display: block;
}
/* line 242, ../../../app/stylesheets/screen.scss */
form label.req, form .field_with_errors label {
  font-weight: bold;
}
/* line 245, ../../../app/stylesheets/screen.scss */
form .field_with_errors label {
  color: #f44;
}
/* line 248, ../../../app/stylesheets/screen.scss */
form .field {
  margin: 5px 0;
}
/* line 251, ../../../app/stylesheets/screen.scss */
form .field.twocol .meta {
  margin-right: 0;
}
/* line 254, ../../../app/stylesheets/screen.scss */
form .field.twocol .field label {
  width: 75px;
}
/* line 259, ../../../app/stylesheets/screen.scss */
form input, form textarea {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px 0;
}
/* line 262, ../../../app/stylesheets/screen.scss */
form input:hover, form textarea:hover {
  border: 1px solid #aaa;
}
/* line 265, ../../../app/stylesheets/screen.scss */
form input:focus, form textarea:focus {
  border: 1px solid #888;
}
/* line 269, ../../../app/stylesheets/screen.scss */
form input[type=file]:hover {
  border: none;
}
/* line 272, ../../../app/stylesheets/screen.scss */
form input[type=text], form input[type=password], form textarea {
  padding: 5px;
  border: 1px solid #d1d1d1;
  background: #f9f9f9;
  font-size: 12px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 278, ../../../app/stylesheets/screen.scss */
form input[type=text]:hover, form input[type=password]:hover, form textarea:hover {
  border: 1px solid #bbb;
}
/* line 281, ../../../app/stylesheets/screen.scss */
form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
  outline: none;
  -moz-box-shadow: #fbac86 0 0 1px 0;
  -webkit-box-shadow: #fbac86 0 0 1px 0;
  -o-box-shadow: #fbac86 0 0 1px 0;
  box-shadow: #fbac86 0 0 1px 0;
  border: 1px solid #fbac86;
}
/* line 288, ../../../app/stylesheets/screen.scss */
form input[type=text], form input[type=password] {
  width: 200px;
}
/* line 291, ../../../app/stylesheets/screen.scss */
form textarea {
  width: 430px;
  height: 180px;
}
/* line 295, ../../../app/stylesheets/screen.scss */
form input[type=checkbox], form input[type=radio], form select {
  margin: 8px 0;
}
/* line 298, ../../../app/stylesheets/screen.scss */
form input[type=submit] {
  border: 1px solid #d1d1d1;
  padding: 4px 20px;
  color: #555960;
  background: #e9e9e9;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
  background-image: linear-gradient(top, #ffffff 0%, #eaeaea 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  text-shadow: 0 1px 1px #fff;
}
/* line 306, ../../../app/stylesheets/screen.scss */
form input[type=submit]:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
}
/* line 309, ../../../app/stylesheets/screen.scss */
form input[type=submit]:active {
  background: #d5d5d5;
  border: 1px solid #888;
}
/* line 313, ../../../app/stylesheets/screen.scss */
form input[type=submit][disabled="disabled"] {
  color: #ddd;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  cursor: default;
}
/* line 317, ../../../app/stylesheets/screen.scss */
form input[type=submit][disabled="disabled"]:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
}
/* line 320, ../../../app/stylesheets/screen.scss */
form input[type=submit][disabled="disabled"]:active {
  background: #e9e9e9;
  border: 1px solid #d1d1d1;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
  background-image: linear-gradient(top, #ffffff 0%, #eaeaea 100%);
}
/* line 327, ../../../app/stylesheets/screen.scss */
form.admin input[type=submit] {
  margin: 5px 0 0 110px;
}

/** FORM ERRORS **/
/* line 333, ../../../app/stylesheets/screen.scss */
#error_explanation {
  padding: 10px;
  margin: 10px 20px;
}

/* line 337, ../../../app/stylesheets/screen.scss */
#error_explanation h2 {
  font-size: 14px;
}

/* line 340, ../../../app/stylesheets/screen.scss */
#error_explanation h2, #error_explanation h3 {
  margin: 0;
}

/** END FORM ERRORS **/
/** END FORMS **/
/** FOOTER **/
/** STICKY FOOTER**/
/* line 349, ../../../app/stylesheets/screen.scss */
.push {
  height: 50px;
}

/** END STICKY FOOTER**/
/* line 353, ../../../app/stylesheets/screen.scss */
footer {
  height: 30px;
  padding: 20px 0 0 0;
  font-size: 13px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px 0 inset;
}

/** END FOOTER **/
