/** @group Variables **/
$blue: #8da5b7;
$border-image: "../images/border-image-blue.png";
$anchor-colour: #5996da;
$fancy-font: "FSAlbert";
$body-font: 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif;
$standard-shadow-colour: rgba(0, 0, 0, 0.25);
/** @end Variables **/

/** @group Mixins **/
@mixin standard-shadow($colour) {
	text-shadow: 0 1px 1px $colour;
}

@mixin box-shadow($x: 0, $y: 0, $blur: 5px, $colour: $standard-shadow-colour, $inset: "") {
	@if $inset == "" {
		-webkit-box-shadow: $x $y $blur $colour;
		-moz-box-shadow: $x $y $blur $colour;
		-o-box-shadow: $x $y $blur $colour;
		box-shadow: $x $y $blur $colour;
	}	@else {
		-webkit-box-shadow: $inset $x $y $blur $colour;
		-moz-box-shadow: $inset $x $y $blur $colour;
		-o-box-shadow: $inset $x $y $blur $colour;
		box-shadow: $inset $x $y $blur $colour;
	}
}

@mixin simple-gradient($top-colour, $bottom-colour) {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, $top-colour),
		color-stop(100%, $bottom-colour)
	);
	background: -moz-linear-gradient(
		center top,
		$top-colour 0%,
		$bottom-colour 100%
	);
}

@mixin nice-header($header-size: 18px, $header-weight: 600, $shadow-colour: $standard-shadow-colour) {
	font-family: $fancy-font;
	font-size: $header-size;
	font-weight: $header-weight;
	@include standard-shadow($shadow-colour);
}

@mixin round($radius: 3px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-img($url, $t, $r, $b, $l) {
	-webkit-border-image: url($url) $t $r $b $l;
	-moz-border-image: url($url) $t $r $b $l;
	-o-border-image: url($url) $t $r $b $l;
	border-image: url($url) $t $r $b $l;
	border-width: #{$t}px #{$r}px #{$b}px #{$l}px;
}
/** @end Mixins **/