$blue: #8da5b7;
$border-image: "../images/border-image-blue.png";
$less-border-image: "../images/border-image-less.png";
$anchor-colour: #2c3945;
$fancy-font: "FSAlbert";
$standard-shadow-colour: rgba(0, 0, 0, 0.25);

@mixin standard-shadow($colour) {
	text-shadow: 0 1px 1px $colour;
}

@mixin box-shadow($x: 0, $y: 0, $blur: 5px, $colour: $standard-shadow-colour) {
	-webkit-box-shadow: $x $y $blur $colour;
	-moz-box-shadow: $x $y $blur $colour;
	-o-box-shadow: $x $y $blur $colour;
	box-shadow: $x $y $blur $colour;
}

@mixin simple-gradient($top-colour, $bottom-colour) {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, $top-colour),
		color-stop(100%, $bottom-colour)
	);
	background: -moz-linear-gradient(
		center top,
		$top-colour 0%,
		$bottom-colour 100%
	);
}

@mixin nice-header($header-size: 18px, $header-weight: 600, $shadow-colour: $standard-shadow-colour) {
	font-family: $fancy-font;
	font-size: $header-size;
	font-weight: $header-weight;
	@include standard-shadow($shadow-colour);
}

@mixin round($radius: 3px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-img($url, $t, $r, $b, $l) {
	-webkit-border-image: url($url) $t $r $b $l;
	-moz-border-image: url($url) $t $r $b $l;
	-o-border-image: url($url) $t $r $b $l;
	border-image: url($url) $t $r $b $l;
	border-width: #{$t}px #{$r}px #{$b}px #{$l}px;
}

html {
	background-image: url('../images/texture.png');
	background-color: #f2f2f2;
	height: 100%;
}

body {
	width: 960px;
	min-height: 100%;
	margin: 0 auto;
	@include box-shadow();
	background-color: #fff;
}

header {
	padding: 0 10px;
	font-family: $fancy-font;
	background: $blue;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color: #fff;
	@include standard-shadow($standard-shadow-colour);
	
	h1 {
		padding: 20px 0 10px 0;
		@include nice-header(72px, 500);
		border-bottom: 1px solid darken($blue, 5%);
	}
	
	nav {
		ul {
			margin: 0;
			border-top: 1px solid lighten($blue, 5%);
		}
		li {
			float: left;
			
			a {
				display: block;
				padding: 10px;
				color: #fff;
				font-family: 'Helvetica Neue';
				font-size: 16px;
				font-weight: 400;
				&:hover {
					background-color: lighten($blue, 3%);
					color: #fff;
				}
				&:active {
					/* Shift it down a pixel when clicked */
					padding: 11px 10px 9px 10px;
				}
			}
			
			&.search {
				float: right;
			}
			form {
				margin: 7px 10px 0 0;
				input[type=text] {
					width: 130px;
					padding: 3px 25px 3px 3px;
					border: 1px solid #d1d1d1;
					background: #fff url('../images/search.png') no-repeat 138px 2px;
					font-size: 12px;
					&:focus {
						outline: none;
						@include box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.4));
					}
				}
			}
		}
	}
}

#container {
	h1 {
		margin: 0 0 20px 0;
		font-family: $fancy-font;
		font-size: 32px;
		color: $blue;
	}
}

#notice, #error, #alert {
	margin: 0 0 10px 0;
	padding: 7px 20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
#notice p, #error p, #alert p {
	margin: 0;
}
#notice {
	background: #cfc;
	border: 1px solid #6c6;
}
#error, #alert {
	background-color: #fcc;
	border: 1px solid #c66;
}

#sidebar {
	float: right;
	width: 200px;
	padding: 10px 9px 10px 10px;
	
	p {
		margin: 0 0 10px 0;
	}
}

#shopping-basket {
	@include round(2px);
	border: 1px solid #a3b6c5;
	
	h2 {
		position: relative;
		z-index: 0;
		padding: 10px 15px;
		border-bottom: 1px solid #a3b6c5;
		color: #2c3945;
		text-shadow: 0 1px 0 #fff;
		@include box-shadow(0, 2px, 3px, rgba(193, 208, 219, 0.5));
		@include simple-gradient(#e3eaf0, #d9e4ea);
		&:after {
	    position: absolute;
	    z-index: -1;
	    content: '';
	    top: 0;
			left: 0;
	    width: 100%;
	    height: 1px;
	    border-top: 1px solid rgba(255, 255, 255, 0.6);
	  }
		a {
			color: #2c3945;
			&:hover {
				color: #1e272f;
			}
		}
	}
	
	ul {
		margin: 0
	}
	li {
		list-style-type: none;
		padding: 10px 20px 10px 20px;
		color: #62778a;
		border-bottom: 1px solid #e8f0f5;
		&.total {
			text-align: right;
			color: #2c3945;
		}
		&:last-child {
			border-bottom: none;
		}
		img {
			float: right;
			padding: 1px;
			border: 1px solid #bdcfdd;
		}
		a {
			color: #62778a;
			&:hover {
				border-bottom: 1px solid #c7d0d7;
			}
		}
		span {
			color: #b0bbc4;
		}
	}
}

.ie #main {
	.item {
		img {
			padding: 1px;
			border: 1px solid #c0c0c0;
		}
	}
}

#main {
	float: left;
	width: 720px;
	padding: 10px;
	border-right: 1px dashed #e8f0f5;
	p {
		margin: 0 0 15px 0;
	}
	
	.fancy-border {
		@include border-img($border-image, 6, 7, 7, 6);
	}
	.less-fancy-border {
		//@include border-img($less-border-image, 1, 3, 4, 2);
		@include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.6));
		-webkit-transition: all 0.2s;
		&:hover {
			@include box-shadow(0, 1px, 5px, rgba(0,0,0,0.8));
		}
	}
	
	#item_grid {
		margin: 10px 0;
	}
	.grid_item {
		float: left;
		height: 151px;
		width: 350px;
		padding: 5px;
		overflow: hidden;
		& > div {
			float: right;
			width: 199px;
			padding: 10px;
		}
		h3 {
			margin: 0 0 10px 0;
			font-family: $fancy-font;
			font-size: 18px;
			a {
				color: $blue;
				&:hover {
					color: #444;
					text-decoration: none;
				}
				&:active {
					text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
				}
			}
		}
		p {
			color: #444;
		}
		img {
			float: left;
			height: 128px;
			width: 128px;
			@include round(2px);
		}
		&:hover img {
			@include box-shadow(0, 1px, 5px, rgba(0,0,0,0.7));
		}
	}
	
	.item {
		form {
			margin: 0;
			text-align: right;
		}
		input[type=submit] {
			margin: 5px;
		}
		p {
			&.price {
				margin: 0 5px 0 0;
				text-align: right;
				font-weight: bold;
			}
		}
		img {
			width: 128px;
			height: 128px;
			float: left;
			margin: 0 10px 10px 0;
		}
	}
	
	form {
		margin: 20px 0;
		
		& > div {
			margin: 5px 0;
		}
	}
	#error_explanation {
		padding: 10px;
		margin: 10px 20px;
	}
	#error_explanation h2 {
		font-size: 14px;
	}
	#error_explanation h2, #error_explanation h3 {
		margin: 0;
	}
	label, input[type=button], input[type=submit], button {
		cursor: pointer;
	}
	label {
		font-size: 12px;
		float: left;
		text-align: right;
		width: 100px;
		padding: 8px 10px 0 0;
	}
	label.req, .field_with_errors label {
		font-weight: bold;
	}
	.field_with_errors label {
		color: #f44;
	}
	input, textarea {
		@include round(2px);
		@include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.05));
		
		&:hover {
			border: 1px solid #aaa;
		}
		&:focus {
			border: 1px solid #888;
		}
	}
	input[type=file]:hover {
		border: none;
	}
	input[type=text], input[type=password], textarea {
		padding: 5px;
		border: 1px solid #d1d1d1;
		background: #f9f9f9;
		font-size: 12px;
	}
	input[type=text], input[type=password] {
		width: 200px;
	}
	textarea {
		width: 430px;
		height: 180px;
	}
	input[type=checkbox], input[type=radio], select {
		margin: 8px 0;
	}
	input[type=submit] {
		border: 1px solid #d1d1d1;
		padding: 4px 20px;
		margin: 5px 0 0 110px;
		color: #555960;
		background: #e9e9e9;
		@include simple-gradient(#ffffff, #eaeaea);
		@include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.1));
		text-shadow: 0 1px 1px #fff;
		&:hover {
			@include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
		}
		&:active {
			background: #d5d5d5;
			border: 1px solid #888;
		}
	}
	
	a {
		color: #5996da;
		&:hover {
			text-decoration: underline;
		}
	}
}

.button {
	width: 33px;
	height: 33px;
	background-image: url('../images/buttons.png');
	background-position-y: 0;
	
	&.plus {
		background-position-x: 0;
	}
	&.minus {
		background-position-x: -33px;
	}
	&.cross {
		background-position-x: -66px;
	}
	&.search {
		background-position-x: -99px;
	}
	&:hover {
		cursor: pointer;
	}
	&:active {
		background-position-y: -33px;
	}
}

#main table {
	width: 100%;
	margin: 10px 0;
	text-align: center;
	border: 1px solid #a3b6c5;
	th {
		padding: 7px 0;
		background: #eee;
		border-bottom: 1px solid #a3b6c5;
		color: #2c3945;
		font-weight: bold;
		text-shadow: 0 1px 0 #fff;
		@include simple-gradient(#e3eaf0, #d9e4ea);
	}
	td {
		padding: 5px 0;
		background-color: transparent;
		&.b {
			font-weight: bold;
		}
		
		span.quantity {
			border-bottom: 1px dotted #444;
			cursor: pointer;
		}		
		form {
			margin: 0;
			.field {
				margin: 0
			}
			select {
				margin: 0;
			}
		}
	}
	tr {
		background: #fafafa;
		border-bottom: 1px solid #e8f0f5;
		border-left: 1px solid #a3b6c5;
		border-right: 1px solid #a3b6c5;
		&:nth-child(2n+1) {
			background: #f4f4f4;
		}
		&:last-child {
			border-bottom: 1px solid #a3b6c5;
		}
	}
}