%div
	%a{:href => item_path(item)}
		%img{:src => item.image(:thumb)}
		%p= item.name
	- if admin_signed_in?
		%span.small
			= link_to 'Edit', edit_item_path(item)
			|
			= link_to 'Destroy', item_path(item), :confirm => "Delete item '#{item.name}'?", :method => :delete