- page = Page.find_by_links_to(request.path) if page.nil?

- unless page.nil?
	= title page.name
	
	:markdown
		#{page.content}
		
	- if page.sidebar
		- content_for :sidebar do
			:markdown
				#{page.sidebar}