@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

/** LAYOUT **/
html, body {
  height: 100%;
}

.wrap {  
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -50px;
}

.ninesixty {
  width: 960px;
  margin: 0 auto;
  @include clearfix;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6,
.grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.grid_1 { width: 60px; }
.grid_2 { width: 140px; }
.grid_3 { width: 220px; }
.grid_4 { width: 300px; }
.grid_5 { width: 380px; }
.grid_6 { width: 460px; }
.grid_7 { width: 540px; }
.grid_8 { width: 620px; }
.grid_9 { width: 700px; }
.grid_10 { width: 780px; }
.grid_11 { width: 860px; }
.grid_12 { width: 940px; }

.media {
	.body p:first-child {
		margin: 5px 0 20px 0;
	}
	&, .body {
		overflow: hidden;
		_overflow: visible;
		zoom: 1;
	}
	.meta {
		float: left;
		margin-right: 20px;
		img {
			display: block;
		}
	}
}

/** TYPOGRAPHY **/
@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/uni-sans-book-webfont.eot');
    src: url('../fonts/uni-sans-book-webfont.eot?#iefix') format('eot'),
         url('../fonts/uni-sans-book-webfont.woff') format('woff'),
         url('../fonts/uni-sans-book-webfont.ttf') format('truetype'),
         url('../fonts/uni-sans-book-webfont.svg#webfontIhRQ8bBH') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-text-stroke: 1px transparent;
  -webkit-font-smoothing: antialiased;
}
h1, h2 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "Uni Sans", "Helvetica Neue", Helvetica, Ariel, sans-serif;
}
h2 {
  margin: 0 0 15px 0;
  font-size: 28px;
}
h3 {
  margin: 0 0 10px 0;
  color: #222;
  font-size: 16px;
}
p, span, a {
  line-height: 1.2em;
}
p {
  margin: 15px 0;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
a {
  color: #b03231;
  text-decoration: none;
  @include transition(all, 0.15s);
  &:hover {
    color: #601b1b;
  }
}
.small {
	font-size: 10px;
}
/** END TYPOGRAPHY **/
ul {
  margin: 10px 0;
}
ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 5px 0;
}
pre {
  margin: 10px 0;
  padding: 10px;
  background: #eee;
  border: 1px solid #bbb;
  font-family: Monaco, ProFont, 'Bitstream Vera Sans Mono', 'American Typewriter', 'Andale Mono', monospace;
  font-size: 12px;
}
blockquote {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #bbb;
}
/** END LAYOUT **/

header, footer {
  background: url('../../images/black-noise.gif') repeat;
  color: #fff;
}

/** HEADER **/
header {
  padding: 20px 0;
  @include box-shadow(rgba(0, 0, 0, 0.3), 0, -2px, 3px, 0, inset);
  h1 {
    float: left;
    margin: 0;
    font-size: 56px;
    a {
      color: #fff;
      @include transition(all, 0.3s);
      &:hover {
        color: #fff;
        opacity: 0.8;
      }
    }
  }
}

/** SITE NAVIGATION **/
nav {
  float: right;
  ul {
    margin: 0;
    @include clearfix; 
  }
  li {
    float: left;
    margin: 25px 7px;
    list-style-type: none;
    &:last-child {
      margin: 25px 0 25px 7px;
    }
  }
  a {
    padding: 3px 9px 4px 9px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    @include text-shadow(rgba(0, 0, 0, 0.7), 0, 1px, 2px);
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
    &.current {
      border: 1px solid #1c1c1c;
      @include linear-gradient(color-stops(#282a31, #1f2026));
      @include border-radius(3px);
      @include box-shadow(rgba(255, 255, 255, 0.05), 1px, 1px, 1px, 0, inset);
    }
  }
}
/** END SITE NAVIGATION **/
/** END HEADER **/

/** CONTENT **/
.content {
  padding: 20px 0;
  h1 {
    font-size: 48px;
  }
}
.main {
  padding: 0 10px 0 0;
  overflow: visible;
  border-right: 1px dashed #eee;
}
.item-image {
  margin: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  @include border-radius(3px);
  @include box-shadow(rgba(0, 0, 0, 0.3), 0, 1px, 3px);
  @include transition(all, 0.3s);
  &:hover {
    @include box-shadow(rgba(0, 0, 0, 0.5), 0, 1px, 3px);
  }
}

/** HOME CONTAINER **/
.items-container {
	@include clearfix;
	& > div {
		float: left;
		margin: 10px;
		padding: 10px 10px;
		border: 1px solid #eee;
		text-align: center;
		img {
			margin: 0 20px;
			padding: 5px;
			@include box-shadow(rgba(0, 0, 0, 0.2), 0, 1px, 2px);
			@include transition(all, 1s);
			&:hover {
				background: #f5f5f5;
			}
		}
		p {
			text-align: center;
		}
	}
}
/** HOME CONTAINER **/

/** CATEGORY TAGS **/
.categories {
  h3 a {
    color: #222;
  }
  ul {
    padding: 10px 0;
    @include clearfix;
  }
  li {
    float: left;
    margin: 0 5px;
    list-style-type: none;
    &:first-child {
      margin: 0 5px 0 0;
    }
    a {
      padding: 6px 9px;
      border: 1px solid #dea23c;
      font-size: 12px;
      font-weight: bold;
      color: #604020;
      @include text-shadow(rgba(255, 255, 255, 0.5), 0, 1px, 0);
      @include linear-gradient(color-stops(#feda71, #febc4a));
      @include border-radius(2px);
      @include box-shadow(rgba(145, 145, 145, 0.13), 0, 1px, 1px);
    }
  }
}
/** END CATEGORY TAGS **/

/** ITEM META **/
.item-meta {
  margin: 10px 0;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  @include clearfix;
}
.item-meta .price {
  float: right;
}
/** END ITEM META **/
.add-to-basket {
  float: right;
  input {
    float: right;
  }
}
/** END CONTENT **/

/** FLASH MESSAGES **/
#notice, #error, #alert {
	margin: 0 0 20px 0;
	padding: 7px 20px;
	@include box-shadow(rgba(0, 0, 0, 0.05), 0, 1px, 2px);
	@include border-radius(2px);
}
#notice p, #error p, #alert p {
	margin: 0;
}
#notice {
	background: #e5fee2;
  border: 1px solid #9fd690;
}
#error {
	background: #fee5e2;
	border: 1px solid #d69090;
}
#alert {
  background: #fefbe2;
  border: 1px solid #e4d45d;
}
/** END FLASH MESSAGES **/

/** SHOPPING BASKET **/
#shopping-basket {
	@include border-radius(2px);
	border: 1px solid #a53b3b;
	
	h2 {
		position: relative;
		z-index: 0;
		padding: 9px 15px 11px 15px;
		margin: 0;
		border-bottom: 1px solid #802525;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 13px;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
		@include box-shadow(rgba(193, 208, 219, 0.5), 0, 2px, 3px);
		@include linear-gradient(color-stops(#f6654d, #b03231));
		&:after {
	    position: absolute;
	    z-index: -1;
	    content: '';
	    top: 0;
			left: 0;
	    width: 100%;
	    height: 1px;
	    border-top: 1px solid #fa8859;
	  }
		a {
			color: #510a0a;
			&:hover {
				color: #400807;
			}
		}
	}
	
	ul {
		margin: 0
	}
	li {
	  margin: 0;
		padding: 10px 20px 10px 20px;
		border-bottom: 1px solid #eee;
		list-style-type: none;
		font-size: 13px;
		&.total {
		  border: 1px solid #fff;
		  background: url('../../images/dots.gif') repeat;
			text-align: right;
		}
		&:last-child {
			border-bottom: none;
		}
		img {
			float: right;
			padding: 1px;
			border: 1px solid #c4b0b0;
		}
		a {
			color: #813a3a;			
			&:hover {
				border-bottom: 1px solid #c4b0b0;
			}
		}
		span {
			color: #c4b0b0;
		}
	}
}
/** END SHOPPINGB BASKET **/

/** FORMS **/
form {
	margin: 20px 0;
	label, input[type=button], input[type=submit], button {
		cursor: pointer;
	}
	label {
		float: left;
		width: 100px;
		padding: 8px 10px 0 0;
		font-size: 14px;
		text-align: right;
		display: block;
	}
	label.req, .field_with_errors label {
		font-weight: bold;
	}
	.field_with_errors label {
		color: #f44;
	}
	.field {
		margin: 5px 0;
		&.twocol {
			.meta {
				margin-right: 0;
			}
			.field label {
				width: 75px;
			}
		}
	}
	input, textarea {
		@include border-radius(2px);
		@include box-shadow(rgba(0, 0, 0, 0.05), 0, 1px, 1px);
		&:hover {
			border: 1px solid #aaa;
		}
		&:focus {
			border: 1px solid #888;
		}
	}
	input[type=file]:hover {
		border: none;
	}
	input[type=text], input[type=password], textarea {
		padding: 5px;
    border: 1px solid #d1d1d1;
		background: #f9f9f9;
		font-size: 12px;
		@include transition(all, 0.2s);
		&:hover {
			border: 1px solid #bbb;
		}
		&:focus {
			// stops default focus highlight
			outline:none;
			@include box-shadow(#fbac86, 0, 0, 1px);
			border: 1px solid #fbac86;
		}
	}
	input[type=text], input[type=password] {
		width: 200px;
	}
	textarea {
		width: 430px;
		height: 180px;
	}
	input[type=checkbox], input[type=radio], select {
		margin: 8px 0;
	}
	input[type=submit] {
		border: 1px solid #d1d1d1;
		padding: 4px 20px;
		color: #555960;
		background: #e9e9e9;
		@include linear-gradient(color-stops(#ffffff, #eaeaea));
		@include box-shadow(rgba(0, 0, 0, 0.1), 0, 1px, 2px);
		text-shadow: 0 1px 1px #fff;
		&:hover {
			@include box-shadow(rgba(0, 0, 0, 0.15), 0, 1px, 2px);
		}
		&:active {
			background: #d5d5d5;
			border: 1px solid #888;
		}
		&[disabled="disabled"] {
			color: #999;
			@include box-shadow(rgba(0, 0, 0, 0), 0, 0, 0);
			cursor: default;
			&:hover {
				@include box-shadow(rgba(0, 0, 0, 0), 0, 0, 0)
			}
			&:active {
				background: #e9e9e9;
				border: 1px solid #d1d1d1;
				@include linear-gradient(color-stops(#ffffff, #eaeaea));
			}
		}
	}
	&.admin input[type=submit] {
		margin: 5px 0 0 110px;
	}
}

/** FORM ERRORS **/
#error_explanation {
	padding: 10px;
	margin: 10px 20px;
}
#error_explanation h2 {
	font-size: 14px;
}
#error_explanation h2, #error_explanation h3 {
	margin: 0;
}
/** END FORM ERRORS **/
/** END FORMS **/

/** TABLES **/
.main table {
	width: 100%;
	margin: 10px 0;
	text-align: center;
	border: 1px solid #ad3e3e;
	th {
		padding: 7px 0;
		background: #bd4747;
		border-bottom: 1px solid #ad3e3e;
		color: #fff;
		font-weight: bold;
		text-align: center;
	}
	td {
		padding: 5px 0;
		background-color: transparent;
		text-align: center;
		&.b {
			font-weight: bold;
		}
		
		span.quantity {
			border-bottom: 1px dotted #444;
			cursor: pointer;
		}		
		form {
			margin: 0;
			.field {
				margin: 0
			}
			select {
				margin: 0;
			}
		}
	}
	tr {
		background: #fafafa;
		border-bottom: 1px solid #e8f0f5;
		border-left: 1px solid #a3b6c5;
		border-right: 1px solid #a3b6c5;
		&:nth-child(2n+1) {
			background: #f4f4f4;
		}
		&:last-child {
			border-bottom: 1px solid #a3b6c5;
		}
	}
}
/** END TABLES **/

/** FOOTER **/
/** STICKY FOOTER**/
.push {
  height: 50px;
}
/** END STICKY FOOTER**/
footer {
  height: 32px;
  padding: 18px 0 0 0;
  font-size: 13px;
  color: #999;
  @include text-shadow(rgba(0, 0, 0, 0.4), 0, 1px, 1px);
  @include box-shadow(rgba(0, 0, 0, 0.3), 0, 2px, 3px, 0, inset);
  .right {
    float: right;
  }
  a {
    color: #999;
    &:hover {
      color: #d04c49;
    }
  }
}
/** END FOOTER **/