=title 'Items'

%p Browse our, quite frankly, delicious catalog of stuff.

= render :partial => 'layouts/items', :locals => {:items => @items}

- if admin_signed_in?
	%p
		= link_to 'New Item', new_item_path