=title 'Items'

%p Browse our, quite frankly, delicious catalog of stuff.

%div#item_grid
	- @items.each do |item|
		%div.grid_item.media
			%a{:href => item_path(item), :title => item.name, :rel => 'items_index', :class=> 'img' }
				%img{:src => item.image.url(:thumb), :alt => item.name, :class => 'prettyImage'}
			%div.bd
				%h3=link_to item.name, item
				:markdown
					#{truncate item.description, :length => 150}
			
	%div.clearfix

%p
	= link_to 'New Item', new_item_path