=title "Items in #{@category.name}"

.items-container
	= render :partial => 'shared/items', :collection => @category.items.top_level, :as => :item

= link_to 'Edit', edit_category_path(@category)
|
= link_to 'Back', categories_path
