%div#shopping-basket
	%h2
		=link_to 'Shopping Basket', basket_path(@basket)
	%ul
		- if @basket.line_items.count.zero?
			%li
				You have no items in your basket.
		- else
			- for li in @basket.line_items
				%li
					%div.twocol
						%div.meta.right
							%a{:href => li.item.image.url, :title => li.item.name, :rel => 'cart-gallery'}
								%img{:src => li.item.image.url(:icon), :alt => li.item.name}
						%div.bd
							- if li.item.parent
								= link_to li.item.parent.name, li.item
							- else
								=link_to li.item.name, li.item
							%span
								x#{li.quantity}
								=ntc li.item.price
			%li.total
				Subtotal:
				=ntc @basket.subtotal