%div#shopping-basket
	%h2
		=link_to 'Shopping Basket', basket_path(@basket)
	%ul
		- if @basket.line_items.count.zero?
			%li
				You have no items in your basket.
		- else
			- for li in @basket.line_items
				%li
					=link_to li.item.name, li.item
					%span
						x#{li.quantity}
						=ntc li.item.price
					%img{:src => li.item.image.url(:icon)}
			%li.total
				Total:
				=ntc @basket.subtotal