- unless page.published == false
	%li
		- unless page.links_to?
			= link_to h(page.name), :controller => '/pages', :action => 'show', :id => page.permalink
		- else
			= link_to h(page.name), page.links_to

		- unless page.children.empty?
			%ul
				= render :partial => 'layouts/menubar', :collection => page.children, :as => :page