%div#sidebar
	-unless controller.controller_name == 'baskets'
		=render('layouts/basket')
	-else
		%h1
			Help
		%p
			Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed sit amet purus.
		%p
			Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis.
			
		%img{:src => '/images/paypal.gif'}