!!!
%html
	%head
		%title
			= content_for?(:title) ? yield(:title) + ' :: Generic Store' : 'Generic Store'
		=stylesheet_link_tag 'reset', 'application'
		=javascript_include_tag 'jquery', 'rails', 'application'
		=csrf_meta_tag
	%body

		%header
			%h1 Generic Store
			
			%nav
				%ul
					%li
						%a{:href => root_path}
							Home
					%li
						%a{:href => '#'}
							Offers
					%li
						%a{:href => '#'}
							DJ Sets
					%li
						%a{:href => '#'}
							About Us
					%li
						%a{:href => '#'}
							Contact
					%li.search
						%form
							%input{:type => :text}

			%div.clearfix

		%div#container
		
			%div#sidebar
				=render('layouts/basket')
		
			%div#main
			
				- flash.each do |key, msg|
					%div{:id => key}
						=msg
			
				=yield
				
			%div.clearfix