!!!
%html
	%head
		%meta{:charset => 'utf-8'}
	
		%title
			= content_for?(:title) ? yield(:title) + ' | ' : ''
			=t :store_name
		=stylesheet_link_tag 'reset', 'jquery.fancybox', 'application'
		=csrf_meta_tag
	%body
	
		%div.wrap

			%header
				%h1
					=t :store_name
			
				%nav
					%ul
						%li
							%a{:href => root_path}
								Home
						%li
							%a{:href => '#'}
								Offers
						%li
							%a{:href => '#'}
								DJ Sets
						%li
							%a{:href => '#'}
								About Us
						%li
							%a{:href => '#'}
								Contact
						%li
							%a{:href => new_admin_session_path}
								Login
						%li.search
							%form
								%input{:type => :text}

				%div.clearfix

			%div#container
		
				=render 'layouts/sidebar'
		
				%div#main
			
					- flash.each do |key, msg|
						%div{:id => key}
							=msg
			
					=yield
				
				%div.clearfix
				%div.push
		%footer
			%span
				=t :store_owner
				&copy;
				= Time.now.year
			%span.right
				- if admin_signed_in?
					= link_to 'Logout', destroy_admin_session_path
				- else
					= link_to 'Login',  new_admin_session_path
			
		=javascript_include_tag 'jquery', 'rails', 'jquery.fancybox', 'jquery.color', 'application'