!!!
%html
	%head
		%meta{:charset => 'utf-8'}
	
		%title
			= content_for?(:title) ? yield(:title) + ' | ' : ''
			Generic Store
		=stylesheet_link_tag 'reset', 'jquery.fancybox', 'application'
		=csrf_meta_tag
	%body

		%header
			%h1 Generic Store
			
			%nav
				%ul
					%li
						%a{:href => root_path}
							Home
					%li
						%a{:href => '#'}
							Offers
					%li
						%a{:href => '#'}
							DJ Sets
					%li
						%a{:href => '#'}
							About Us
					%li
						%a{:href => '#'}
							Contact
					%li.search
						%form
							%input{:type => :text}

			%div.clearfix

		%div#container
		
			=render('layouts/sidebar')
		
			%div#main
			
				- flash.each do |key, msg|
					%div{:id => key}
						=msg
			
				=yield
				
			%div.clearfix
			
	=javascript_include_tag 'jquery', 'rails', 'jquery.fancybox', 'jquery.color', 'application'